<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>header</title>

     <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
   

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>

 <!--  nav bar start -->

	<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/employee">AddEmployee</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/list">ListEmployee</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/gallery">Gallery</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/upload">Upload</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/contact">Contact</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/user/profile">Profile</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="/restapi">RestApi</a>
      </li>
      
    </ul>
    
    <div>
   <span th:if="${session.activeUser != null}">
         Welcome : [[${session.activeUser.firstName}]] &nbsp; &nbsp;
        <a href="/user/logout"><button class="btn btn-danger">Logout</button></a>
  </span>
   
  </div>
  
    </div>
</nav>
<br>

	<!-- nav bar end -->

</body>
</html>